- var type_muted = '$$ N.models.users.Subscription.types.MUTED $$';

each item in self.items.sort(function (a, b) { return new Date(self.blog_entries[b.to].cache.last_ts || self.blog_entries[b.to].ts) - new Date(self.blog_entries[a.to].cache.last_ts || self.blog_entries[a.to].ts) })
  - var entry = self.blog_entries[item.to];
  - var user = self.users[entry.user];
  - var mark = self.read_marks[entry._id];
  - var href = self.link_to('blogs.entry', { user_hid: user.hid, entry_hid: entry.hid });

  .user-subscriptions-item.user-subscriptions-item__m-blog-entry(
    class=mark.isNew       && item.type !== type_muted ? 'user-subscriptions-item__m-new' : ''
    class=mark.next !== -1 && item.type !== type_muted ? 'user-subscriptions-item__m-unread' : ''
  )
    .user-subscriptions-item__content
      h2.user-subscriptions-item__title
        a.user-subscriptions-item__title-link(href=href)= entry.title

        .user-subscriptions-item__new-marker= self.t('new')

      .user-subscriptions-item__microstat
        a.user-subscriptions-item__microstat-category(href=self.link_to('blogs.sole', { user_hid: user.hid }))=user.name

      .user-subscriptions-item__unread-marker

      //- cover all space with link for small screens
      a.user-subscriptions-item__overlay.d-md-none(href=href)

    .user-subscriptions-item__controls
      button.user-subscriptions-item__btn-edit.btn.btn-outline-secondary.btn-sm.btn-square.icon.d-none.d-sm-inline-block(
        title=self.t('edit_subscription')
        data-on-click='users.subscriptions:update'
        data-subscription=item
        data-block-name=self.block_name
        class=self.icon(item.type)
      )
      button.user-subscriptions-item__btn-delete.btn.btn-outline-secondary.btn-sm.btn-square.icon.icon-x(
        title=self.t('delete_subscription')
        data-on-click='users.subscriptions:delete'
        data-subscription=item
        data-block-name=self.block_name
      )
