- var menu_rnd_id = 'rnd' + self.get_label_uid()
- var subscriptionTypes = '$$ JSON.stringify(N.models.users.Subscription.types) $$'
- var items = []

if self.settings.blogs_can_create
  - items.push('new_entry')

if self.runtime.is_member && !self.current_tag
  - items.push('subscription')

if self.user_id === self.runtime.user_id && !self.current_tag
  - items.push('categories')

- var show_menu = items.filter(function (item) { return item !== 'new_entry'; }).length > 0;


.page-actions.blogs-sole__toolbar-controls
  if self.settings.blogs_can_create
    button.btn.btn-secondary.btn-square.icon.icon-plus(
      class=show_menu ? 'd-none d-sm-inline-block' : ''
      type='button'
      data-on-click='blogs.blocks.blog_entry.create:begin'
      title=self.t('new_entry')
    )

  - var subscriptionIcon = 'icon-track-normal'
  - var subscriptionTitle = self.t('subs_normal')

  if (self.subscription === subscriptionTypes.MUTED)
    - subscriptionIcon = 'icon-track-muted'
    - subscriptionTitle = self.t('subs_muted')
  else if (self.subscription === subscriptionTypes.TRACKING)
    - subscriptionIcon = 'icon-track-tracking'
    - subscriptionTitle = self.t('subs_tracking')
  else if (self.subscription === subscriptionTypes.WATCHING)
    - subscriptionIcon = 'icon-track-watching'
    - subscriptionTitle = self.t('subs_watching')

  if (self.subscription && self.subscription !== subscriptionTypes.NORMAL)
    button.btn.btn-secondary.btn-square.d-none.d-sm-inline-block.icon(
      type='button'
      title=subscriptionTitle
      class=subscriptionIcon
      data-on-click='blogs.sole:subscription'
      data-user-id=self.user_id
      data-blog-subscription=self.subscription
    )

  if show_menu
    .page-actions__dropdown
      button.btn.btn-secondary.btn-square.icon.icon-dropdown.dropdown-toggle(
        type='button'
        id=menu_rnd_id
        aria-haspopup='true'
        aria-expanded='false'
        data-bs-toggle='dropdown'
      )

      .dropdown-menu.dropdown-menu-end(aria-labelledby=menu_rnd_id)

        each item in items
          case item

            when 'new_entry'
              button.dropdown-item.d-sm-none(
                type='button'
                data-on-click='blogs.blocks.blog_entry.create:begin'
              )= self.t('new_entry')

            when 'subscription'
              button.dropdown-item(
                type='button'
                data-on-click='blogs.sole:subscription'
                data-user-id=self.user_id
                data-blog-subscription=self.subscription
              )
                if self.subscription && self.subscription !== subscriptionTypes.NORMAL
                  span.icon.icon-space-after(class=subscriptionIcon)
                = self.t('subscription')

            when 'categories'
              button.dropdown-item(
                type='button'
                data-on-click='blogs.sole.categories_edit'
              )= self.t('categories')
