- var roles = '$$ JSON.stringify(N.models.blogs.BlogCommentHistory.roles) $$'

.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        h4.modal-title= self.t('title')
        button.btn-close(type='button', tabindex='-1', data-bs-dismiss='modal')
      .modal-body.blog-comment-history-dlg__content
        each entry in self.entries.reverse()
          - var user = self.users[entry.user];

          .blog-comment-history-entry(
            class=entry.role === roles.USER ? 'blog-comment-history-entry__m-user' : ''
            class=entry.role === roles.MODERATOR ? 'blog-comment-history-entry__m-moderator' : ''
            class=entry.role === roles.TASK ? 'blog-comment-history-entry__m-task' : ''
          )
            .blog-comment-history-entry__meta
              span.blog-comment-history-entry__meta-ts!= self.timetag(entry.ts, 'relative')
              if user
                a.blog-comment-history-entry__meta-author-link(href=self.link_to('users.member', { user_hid: user.hid }))
                  = user.nick
              span.blog-comment-history-entry__icon-task(
                title=self.t('role_task')
              )= '*'
              span.blog-comment-history-entry__icon-moderator(
                title=self.t('role_moderator')
              )= '*'

            if entry.text_diff
              .blog-comment-history-entry__diff
                != entry.text_diff

            if entry.actions && entry.actions.length > 0
              .blog-comment-history-entry__actions
                each d in entry.actions
                  - var key = d[0], value = d[1], new_value = d[2];
                  .blog-comment-history-entry__action-item
                    case key
                      when 'delete'
                      when 'hard_delete'
                        .diff-line
                          = self.t('action_' + key)
                          if value
                            = ' ' + self.t('del_reason', { text: value })
                      default
                        .diff-line= self.t('action_' + key)
