- self.add_raw_data('settings',     self.settings)
- self.add_raw_data('user_id',      self.user_id)
- self.add_raw_data('current_tag',  self.current_tag)
- self.add_raw_data('subscription', self.subscription)
- self.add_raw_data('pagination',   self.pagination)

- self.users = self.users || {};
- var user = self.users[self.user_id] || {};

article#content.blogs-sole(
  data-keymap= {
    'home': 'blogs.sole:nav_to_start',
    'end':  'blogs.sole:nav_to_end'
  }
  data-last-entry-hid= self.last_entry_hid
  data-top-marker=     self.entries && self.entries.length > 0 ? self.entries[0]._id : null
  data-bottom-marker=  self.entries && self.entries.length > 0 ? self.entries[self.entries.length - 1]._id : null
)

  -
    var $query_top = {};
    var $query_bottom = { from: self.last_entry_hid };

    if (self.current_tag) {
      $query_top.tag    = self.current_tag;
      $query_bottom.tag = self.current_tag;
    }

    var navbar_args = {
      title_html: self.current_tag ?
                  self.partial('@blogs.sole.blocks.title_tag', { user: user, tag: self.current_tag }) :
                  self.partial('@blogs.sole.blocks.title_user', { user: user }),
      level_up: self.current_tag ?
                self.link_to('blogs.sole', { user_hid: user.hid }) :
                self.link_to('blogs.index'),
      toolbar: 'blogs.sole.blocks.toolbar_controls',
      progress: {
        link_top:    self.link_to('blogs.sole', {
          user_hid: user.hid,
          $query:   $query_top
        }),
        link_bottom: self.link_to('blogs.sole', {
          user_hid: user.hid,
          $query:   $query_bottom
        }),
        current:     self.pagination.chunk_offset,
        total:       self.pagination.total
      },
      search_areas: [
        {
          title: self.t('search_sole'),
          method: 'search.blogs_sole',
          params: { hid: String(user.hid) }
        }
      ]
    };

  != self.partial('@common.blocks.navbar.levelup_apps', navbar_args)

  if self.current_tag
    != self.partial('@common.blocks.navbar.alt_levelup_title_toolbar', navbar_args)
  else
    != self.partial('@common.blocks.navbar.alt_levelup_progress_title_toolbar', navbar_args)

  nav.breadcrumbs-container
    .layout__container.container-fluid
      != self.partial('@common.blocks.breadcrumbs')

  .layout__container.container-fluid
    != self.partial('@users.blocks.announces')

    header.page-head.blogs-sole__head
      if self.current_tag
        h1.blogs-index__title.page-head__title(itemprop='name')= self.t('title_tag', { tag: self.current_tag })
      else
        a.blogs-sole__avatar(href=self.link_to('users.member', { user_hid: user.hid }))
          img.blogs-sole__userpic(alt=user.name)&attributes(self.avatar(user, 'sm'))

        .blogs-sole__meta
          a.blogs-sole__author-link(
            href=self.link_to('users.member', { user_hid: user.hid })
          )= user.name

          != self.partial('@blogs.blocks.tag_list', { tags: self.categories })

      != self.partial('@blogs.sole.blocks.toolbar_controls')

    if self.entries && self.entries.length
      .blogs-sole__loading-prev.nojs-hide(
        class=(self.pagination.chunk_offset === 0 ? 'd-none' : '')
      )
        span.icon.icon-loading-placeholder

      .blogs-sole__entry-list._affix(
        data-affix-top={
          offset:     500,
          wire_above: 'blogs.sole:load_prev',
          throttle:   100
        }
        data-affix-bottom={
          offset:     500,
          wire_below: 'blogs.sole:load_next',
          throttle:   100
        }
      )!= self.partial('@blogs.blocks.entry_list_sole')

      .blogs-sole__loading-next.nojs-hide(
        class=(self.entries && self.entries.length > 0 && self.entries[self.entries.length - 1].hid === self.last_entry_hid ? 'd-none' : '')
      )
        span.icon.icon-loading-placeholder

      nav.pager.js-hide
        if self.head.prev
          a.btn.btn-secondary(href=self.head.prev)= self.t('prev_page')

        if self.head.next
          a.btn.btn-secondary(href=self.head.next)= self.t('next_page')
    else
      p!= self.current_tag ? self.t('tag_no_entries') : self.t('user_no_entries')
