- self.users = self.users || {};
- self.add_raw_data('pagination', self.pagination)

article#content.blogs-index(
  data-keymap= {
    'home': 'blogs.index:nav_to_start',
    'end':  'blogs.index:nav_to_end'
  }
  data-last-entry-hid= self.last_entry_hid
  data-top-marker=     self.entries && self.entries.length > 0 ? self.entries[0]._id : null
  data-bottom-marker=  self.entries && self.entries.length > 0 ? self.entries[self.entries.length - 1]._id : null
)

  -
    var navbar_args = {
      title: self.t('title'),
      toolbar: 'blogs.index.blocks.toolbar_controls',
      progress: {
        link_top:    self.link_to('blogs.index'),
        link_bottom: self.link_to('blogs.index', { $query: { from: self.last_entry_hid } }),
        current:     self.pagination.chunk_offset,
        total:       self.pagination.total
      },
      search_areas: [
        {
          title: self.t('search_entries'),
          method: 'search.blog_entries'
        }
      ]
    };

  != self.partial('@common.blocks.navbar.logo_apps', navbar_args)
  != self.partial('@common.blocks.navbar.alt_logo_apps_toolbar', navbar_args)

  nav.breadcrumbs-container
    .layout__container.container-fluid
      != self.partial('@common.blocks.breadcrumbs')

  .layout__container.container-fluid
    != self.partial('@users.blocks.announces')

    header.page-head.blogs-index__head
      h1.blogs-index__title.page-head__title(itemprop='name')= self.t('title')

      != self.partial('@blogs.index.blocks.toolbar_controls')

    if self.entries && self.entries.length
      .blogs-index__loading-prev.nojs-hide(
        class=(self.pagination.chunk_offset === 0 ? 'd-none' : '')
      )
        span.icon.icon-loading-placeholder

      .blogs-index__entry-list._affix(
        data-affix-top={
          offset:     500,
          wire_above: 'blogs.index:load_prev',
          throttle:   100
        }
        data-affix-bottom={
          offset:     500,
          wire_below: 'blogs.index:load_next',
          throttle:   100
        }
      )!= self.partial('@blogs.blocks.entry_list_mixed')

      .blogs-index__loading-next.nojs-hide(
        class=(self.entries && self.entries.length > 0 && self.entries[self.entries.length - 1].hid === self.last_entry_hid ? 'd-none' : '')
      )
        span.icon.icon-loading-placeholder

      nav.pager.js-hide
        if self.head.prev
          a.btn.btn-secondary(href=self.head.prev)= self.t('prev_page')

        if self.head.next
          a.btn.btn-secondary(href=self.head.next)= self.t('next_page')
    else
      p!= self.t('no_entries')
