- self.add_raw_data('entry', self.entry)
- self.add_raw_data('settings', self.settings)

- self.own_votes = self.own_votes || {};
- self.own_bookmarks = self.own_bookmarks || [];
- var entry = self.entry;

mixin render_comments(comments)
  - var i = 0;
  while i < comments.length
    -
      var comment  = comments[i++];
      var children = [];

      while (i < comments.length && comments[i].path.indexOf(comment._id) >= 0) {
        children.push(comments[i++]);
      }

    - var user = self.users[comment.user] || { hid: 0 };

    .blogs-entry-page__comment-container
      .blog-comment(
        class=(self.own_votes[comment._id] === -1) ? 'blog-comment__m-voted-down' : ''
        class=(self.own_votes[comment._id] === +1) ? 'blog-comment__m-voted-up' : ''
        id='comment' + comment.hid
      )
        .blog-comment__aside
          if user.hid
            a.blog-comment__author-link._ucard-popover(
              href=self.link_to('users.member', { user_hid: user.hid })
              data-user-id=entry.user
              data-user-ref='blog_comment:'+user.hid+':'+entry.hid+':'+comment.hid
            )
              img.blog-comment__avatar(alt=user.name)&attributes(self.avatar(user, 'sm'))
          else
            .blog-comment__avatar.av-anon

        footer.blog-comment__head
          if user.hid
            .blog-comment__author
              a.blog-comment__author-link._ucard-popover(
                href=self.link_to('users.member', { user_hid: user.hid })
                data-user-id=entry.user
                data-user-ref='blog_comment:'+user.hid+':'+entry.hid+':'+comment.hid
              )
                = user.name

          .blog-comment__meta
            span.blog-comment__meta-item.blog-comment__ts!= self.timetag(comment.ts, 'relative')

            //- TODO: edit history
            span.blog-comment__meta-item.blog-entry__history.icon.icon-history.icon-space-after= '0'

        .blog-comment__content
          .blog-comment__message.markup!= comment.html

          - var tail = self.partial('@blogs.entry.attachments', { post: comment, user: user });
          if tail
            .forum-post__tail.markup-tail
              !=tail

        footer.blog-comment__controls
          ul.blog-comment__controls-blk
            if self.runtime.is_member && self.runtime.user_id !== comment.user
              if self.settings.can_vote && (self.settings.votes_add_max_time === 0 || new Date(comment.ts).getTime() > Date.now() - self.settings.votes_add_max_time * 60 * 60 * 1000)

                li.blog-comment__control-item.blog-comment__vote-up
                  button.btn.blog-comment__action(
                    title=self.t('vote_up')
                    data-on-click='blogs.entry:comment_vote'
                    data-comment-id=comment._id
                    data-value=self.own_votes[comment._id] === 1 ? '0' : '1'
                  )
                    span.icon.icon-vote-up

                li.blog-comment__control-item.blog-comment__vote-down
                  button.btn.blog-comment__action(
                    title=self.t('vote_down')
                    data-on-click='blogs.entry:comment_vote'
                    data-comment-id=comment._id
                    data-value=self.own_votes[comment._id] === -1 ? '0' : '-1'
                  )
                    span.icon.icon-vote-down

            if self.settings.can_report_abuse
              li.blog-comment__control-item
                button.btn.blog-comment__action.blog-comment__report(title=self.t('report')
                  data-comment-id=comment._id
                  data-on-click='blogs.entry:comment_report'
                )
                  span.icon.icon-report

            if self.runtime.is_member
              li.blog-comment__control-item
                button.btn.blog-comment__action.blog-comment__bookmark-add(
                  data-comment-id=comment._id
                  data-on-click='blogs.entry:comment_bookmark'
                  title=self.t('bookmark_add')
                )
                  span.icon.icon-bookmark
                  span.blog-comment__bookmarks-count(data-bm-count=comment.bookmarks)

                button.btn.blog-comment__action.blog-comment__bookmark-remove(
                  data-comment-id=comment._id
                  data-on-click='blogs.entry:comment_bookmark'
                  data-remove='true'
                  title=self.t('bookmark_remove')
                )
                  span.icon.icon-bookmark
                  span.blog-comment__bookmarks-count(data-bm-count=comment.bookmarks)

            if comment.user === self.runtime.user_id
              li.blog-comment__control-item.blog-comment__edit
                button.btn.blog-comment__action(
                  title=self.t('edit')
                )
                  span.icon.icon-edit

              li.blog-comment__control-item.blog-comment__delete
                button.btn.blog-comment__action(
                  title=self.t('delete')
                )
                  span.icon.icon-x

            if self.settings.blogs_can_create
              li.blog-comment__control-item.blog-comment__reply
                //- for wide screen
                button.full.btn.blog-comment__action(
                  data-on-click='blogs.entry:reply'
                  data-comment-id=comment._id
                  data-comment-hid=comment.hid
                  data-comment-ts=comment.ts
                )
                  span.icon.icon-reply.icon-space-after= self.t('reply')
                //- for narrow screen
                button.short.btn.blog-comment__action(
                  data-on-click='blogs.entry:reply'
                  data-comment-id=comment._id
                  data-comment-hid=comment.hid
                  data-comment-ts=comment.ts
                  title=self.t('reply')
                )
                  span.icon.icon-reply

            li.blog-comment__control-item.blog-comment__votes
              button.btn.blog-comment__action(
                data-on-click='common.votes_popover'
                data-votes-popover-placement='left'
                data-votes-popover-for=comment._id
                title=self.t('vote_details')
                data-votes-count=(comment.votes > 0 ? '+' : '') + comment.votes
              )

            - var showDropdown = false
            - showDropdown = showDropdown || self.settings.blogs_mod_can_delete
            - showDropdown = showDropdown || self.settings.blogs_mod_can_add_infractions
            - showDropdown = showDropdown || self.settings.can_see_ip

            if showDropdown
              //- no aria parts - visible to moderators only
              .blog-comment__control-item.blog-comment__mod-menu.dropdown.dropup
                button.btn.btn-square.blog-comment__action.dropdown-toggle(
                  data-toggle='dropdown'
                  role='button'
                )
                .dropdown-menu.dropdown-menu-right(role='menu')
                  if self.settings.blogs_mod_can_add_infractions
                    button.dropdown-item= self.t('add_infraction')

                  if self.settings.can_see_ip
                    button.dropdown-item(
                      data-comment-id=comment._id
                      data-on-click='blogs.entry:comment_show_ip'
                    )= self.t('ip_info')

                  if self.settings.blogs_mod_can_delete
                    button.blog-comment__delete.dropdown-item= self.t('delete')
                    button.blog-comment__undelete.dropdown-item= self.t('undelete')

      .blogs-entry-page__comment-replies
        +render_comments(children)


article#content.blogs-entry-page
  -
    var user = self.users[self.user_id] || {};
    var $query_top = {};
    var $query_bottom = { from: self.last_entry_hid };

    if (self.current_tag) {
      $query_top.tag    = self.current_tag;
      $query_bottom.tag = self.current_tag;
    }

    var navbar_args = {
      title_html: self.partial('@blogs.entry.blocks.title', { user: user, entry: entry }),
      level_up: self.link_to('blogs.sole', { user_hid: user.hid }),
      toolbar: 'blogs.entry.blocks.toolbar_controls',
      search_areas: [
        {
          title: self.t('search_entries'),
          method: 'search.blog_entries'
        }
      ]
    };

  != self.partial('@common.blocks.navbar.levelup_apps', navbar_args)
  != self.partial('@common.blocks.navbar.alt_levelup_title_toolbar', navbar_args)

  nav.breadcrumbs-container
    .layout__container.container-fluid
      != self.partial('@common.blocks.breadcrumbs')

  .layout__container.container-fluid
    != self.partial('@users.blocks.announces')

    .blog-entry.blogs-entry-page__entry(
      class=(self.own_bookmarks.indexOf(entry._id) !== -1) ? 'blog-entry__m-bookmarked' : ''
      class=(self.own_votes[entry._id] === -1) ? 'blog-entry__m-voted-down' : ''
      class=(self.own_votes[entry._id] === +1) ? 'blog-entry__m-voted-up' : ''
      id='entry' + entry.hid
    )
      header.page-head.blog-entry__head
        .float-right
          != self.partial('@blogs.entry.blocks.toolbar_controls')

        h1.blog-entry__title.page-head__title(itemprop='name')= entry.title

        .blog-entry__meta
          span.blog-entry__meta-item.blog-entry__author
            if user.hid
              a.blog-entry__author-link._ucard-popover(
                href=self.link_to('users.member', { user_hid: user.hid })
                data-user-id=entry.user
                data-user-ref='blog_entry:'+user.hid+':'+entry.hid
              )
                img.blog-entry__avatar(alt=user.name)&attributes(self.avatar(user, 'sm'))
                = user.name
            else
              .blog-entry__avatar.av-anon

          span.blog-entry__meta-item.blog-entry__ts!= self.timetag(entry.ts, 'relative')

          //- TODO: edit history
          span.blog-entry__meta-item.blog-entry__history.icon.icon-history.icon-space-after= '0'

      .blog-entry__content
        .blog-entry__message.markup!= entry.html

        - var tail = self.partial('@blogs.entry.attachments', { post: entry, user: user });
        if tail
          .blog-entry__tail.markup-tail
            !=tail

      footer.blog-entry__controls
        ul.blog-entry__controls-blk
          li.blog-entry__control-item.blog-entry__votes
            button.btn.blog-entry__action(
              data-on-click='common.votes_popover'
              data-votes-popover-placement='right'
              data-votes-popover-for=entry._id
              title=self.t('vote_details')
              data-votes-count=(entry.votes > 0 ? '+' : '') + entry.votes
            )

          if self.runtime.is_member && self.runtime.user_id !== entry.user

            if self.settings.can_vote && (self.settings.votes_add_max_time === 0 || new Date(entry.ts).getTime() > Date.now() - self.settings.votes_add_max_time * 60 * 60 * 1000)
              li.blog-entry__control-item.blog-entry__vote-up
                button.btn.blog-entry__action(
                  title=self.t('vote_up')
                  data-on-click='blogs.entry:entry_vote'
                  data-entry-id=entry._id
                  data-value=self.own_votes[entry._id] === 1 ? '0' : '1'
                )
                  span.icon.icon-vote-up

              li.blog-entry__control-item.blog-entry__vote-down
                button.btn.blog-entry__action(
                  title=self.t('vote_down')
                  data-on-click='blogs.entry:entry_vote'
                  data-entry-id=entry._id
                  data-value=self.own_votes[entry._id] === -1 ? '0' : '-1'
                )
                  span.icon.icon-vote-down

          if self.settings.can_report_abuse
            li.blog-entry__control-item
              button.btn.blog-entry__action.blog-entry__report(title=self.t('report')
                data-entry-id=entry._id
                data-on-click='blogs.blocks.blog_entry:report'
              )
                span.icon.icon-report

          if self.runtime.is_member
            li.blog-entry__control-item
              button.btn.blog-entry__action.blog-entry__bookmark-add(
                data-entry-id=entry._id
                data-on-click='blogs.blocks.blog_entry:bookmark'
                title=self.t('bookmark_add')
              )
                span.icon.icon-bookmark
                span.blog-entry__bookmarks-count(data-bm-count=entry.bookmarks)

              button.btn.blog-entry__action.blog-entry__bookmark-remove(
                data-entry-id=entry._id
                data-on-click='blogs.blocks.blog_entry:bookmark'
                data-remove='true'
                title=self.t('bookmark_remove')
              )
                span.icon.icon-bookmark
                span.blog-entry__bookmarks-count(data-bm-count=entry.bookmarks)

          if entry.user === self.runtime.user_id
            li.blog-entry__control-item.blog-entry__edit
              button.btn.blog-entry__action(
                title=self.t('edit')
              )
                span.icon.icon-edit

            li.blog-entry__control-item.blog-entry__delete
              button.btn.blog-entry__action(
                title=self.t('delete')
              )
                span.icon.icon-x

          li.blog-entry__control-item
            span.icon.icon-views.icon-space-after= entry.views

          - var showDropdown = false
          - showDropdown = showDropdown || self.settings.blogs_mod_can_delete
          - showDropdown = showDropdown || self.settings.blogs_mod_can_add_infractions
          - showDropdown = showDropdown || self.settings.can_see_ip

          if showDropdown
            //- no aria parts - visible to moderators only
            .blog-entry__control-item.blog-entry__mod-menu.dropdown.dropup
              button.btn.btn-square.blog-entry__action.dropdown-toggle(
                data-toggle='dropdown'
                role='button'
              )
              .dropdown-menu.dropdown-menu-right(role='menu')
                if self.settings.blogs_mod_can_add_infractions
                  button.dropdown-item= self.t('add_infraction')

                if self.settings.can_see_ip
                  button.dropdown-item(
                    data-entry-id=entry._id
                    data-on-click='blogs.blocks.blog_entry:show_ip'
                  )= self.t('ip_info')

                if self.settings.blogs_mod_can_delete
                  button.blog-entry__delete.dropdown-item= self.t('delete')
                  button.blog-entry__undelete.dropdown-item= self.t('undelete')

      != self.partial('@blogs.blocks.tag_list', { tag_hids: entry.tag_hids })

    if self.comments && self.comments.length
      #comments.blogs-entry-page__comments
        .blogs-entry-page__comment-header
          = self.t('comments', self.comments.length)

        +render_comments(self.comments)

    if self.settings.blogs_can_create
      .blogs-entry-page__reply
        button.btn.btn-block.btn-link.icon.icon-plus.icon-space-after(
          data-on-click='blogs.entry:reply'
        )=self.t('add_comment')
