- var user = self.users[self.user_id] || {};

mixin render_comments(comments)
  - var i = 0;
  while i < comments.length
    -
      var comment  = comments[i++];
      var children = [];

      while (i < comments.length && comments[i].path.indexOf(comment._id) >= 0) {
        children.push(comments[i++]);
      }

    - var user = self.users[comment.user] || { hid: 0 };

    .blogs-comment.clearfix
      .blogs-comment__aside
        if user.hid
          a(href=self.link_to('users.member', { user_hid: user.hid }))
            img.blogs-comment__userpic(alt=user.name)&attributes(self.avatar(user, 'sm'))
        else
          .blogs-comment__userpic.av-anon

      footer.blogs-comment__meta
        if user.hid
          .blogs-comment__author
            a.blogs-comment__author-link(
              href=self.link_to('users.member', { user_hid: user.hid })
            )= user.name

        .blogs-comment__date
          != self.timetag(comment.ts, 'relative')

      .blogs-comment__content
        .blogs-comment__message.markup!= comment.html

        - var tail = self.partial('@blogs.entry.attachments', { post: comment, user: user });
        if tail
          .forum-post__tail.markup-tail
            !=tail

      footer.blogs-comment__controls
        ul.blogs-comment__controls-blk
          li.blogs-comment__control-item
            span.icon.icon-vote-up

          li.blogs-comment__control-item
            span.icon.icon-vote-down

          li.blogs-comment__control-item
            != self.t('reply')

      .blogs-comment__children
        +render_comments(children)


article#content.blogs-entry
  != self.partial('@common.blocks.navbar.logo_apps')

  nav.breadcrumbs-container
    .layout__container.container-fluid
      != self.partial('@common.blocks.breadcrumbs')

  .layout__container.container-fluid
    != self.partial('@users.blocks.announces')

    .blogs-entry.clearfix
      .blogs-entry__aside
        if user.hid
          a(href=self.link_to('users.member', { user_hid: user.hid }))
            img.blogs-entry__userpic(alt=user.name)&attributes(self.avatar(user, 'sm'))
        else
          .blogs-entry__userpic.av-anon

      header.blogs-entry__meta
        .blogs-entry__title
          = self.entry.title

        if user.hid
          .blogs-entry__author
            a.blogs-entry__author-link(
              href=self.link_to('users.member', { user_hid: user.hid })
            )= user.name

      .blogs-entry__content
        .blogs-entry__message.markup!= self.entry.html

        - var tail = self.partial('@blogs.entry.attachments', { post: self.entry, user: user });
        if tail
          .forum-post__tail.markup-tail
            !=tail

      footer.blogs-entry__controls
        ul.blogs-entry__controls-blk
          li.blogs-entry__control-item
            span.icon.icon-vote-up

          li.blogs-entry__control-item
            span.icon.icon-vote-down

          li.blogs-entry__control-item
            != self.timetag(self.entry.ts, 'relative')

          li.blogs-entry__control-item
            span.icon.icon-bookmark

          li.blogs-entry__control-item
            span.icon.icon-views.icon-space-after= self.entry.views

      if self.entry.tag_hids && self.entry.tag_hids.length
        footer.blogs-entry__tags
          = self.t('tags')

          != self.partial('@blogs.blocks.tag_list', { tag_hids: self.entry.tag_hids })

    #comments.blogs-entry__comments
      .blogs-entry__comment-header
        = self.t('comments', (self.comments || []).length)

      +render_comments(self.comments || [])
