- self.add_raw_data('entry', self.entry)
- self.add_raw_data('settings', self.settings)

- var user = self.users[self.user_id] || {};

mixin render_comments(comments)
  - var i = 0;
  while i < comments.length
    -
      var comment  = comments[i++];
      var children = [];

      while (i < comments.length && comments[i].path.indexOf(comment._id) >= 0) {
        children.push(comments[i++]);
      }

    - var user = self.users[comment.user] || { hid: 0 };

    .blog-comment(id='comment' + comment.hid)
      .blog-comment__body
        .blog-comment__aside
          if user.hid
            a(href=self.link_to('users.member', { user_hid: user.hid }))
              img.blog-comment__avatar(alt=user.name)&attributes(self.avatar(user, 'sm'))
          else
            .blog-comment__avatar.av-anon

        footer.blog-comment__meta
          if user.hid
            .blog-comment__author
              a.blog-comment__author-link(
                href=self.link_to('users.member', { user_hid: user.hid })
              )= user.name

          .blog-comment__date
            != self.timetag(comment.ts, 'relative')

        .blog-comment__content
          .blog-comment__message.markup!= comment.html

          - var tail = self.partial('@blogs.entry.attachments', { post: comment, user: user });
          if tail
            .forum-post__tail.markup-tail
              !=tail

        footer.blog-comment__controls
          ul.blog-comment__controls-blk
            li.blog-comment__control-item.blog-comment__vote-up
              button.btn.blog-comment__action(
                title=self.t('vote_up')
              )
                span.icon.icon-vote-up

            li.blog-comment__control-item.blog-comment__vote-down
              button.btn.blog-comment__action(
                title=self.t('vote_down')
              )
                span.icon.icon-vote-down

            if self.settings.blogs_can_create
              li.blog-comment__control-item.blog-comment__reply
                //- for wide screen
                button.full.btn.blog-comment__action(
                  data-on-click='blogs.entry:reply'
                  data-comment-id=comment._id
                  data-comment-hid=comment.hid
                  data-comment-ts=comment.ts
                )
                  span.icon.icon-reply.icon-space-after= self.t('reply')
                //- for narrow screen
                button.short.btn.blog-comment__action(
                  data-on-click='blogs.entry:reply'
                  data-comment-id=comment._id
                  data-comment-hid=comment.hid
                  data-comment-ts=comment.ts
                  title=self.t('reply')
                )
                  span.icon.icon-reply

      .blog-comment__children
        +render_comments(children)


article#content.blogs-entry
  -
    var $query_top = {};
    var $query_bottom = { from: self.last_entry_hid };

    if (self.current_tag) {
      $query_top.tag    = self.current_tag;
      $query_bottom.tag = self.current_tag;
    }

    var navbar_args = {
      title_html: self.partial('@blogs.entry.blocks.title', { user: user, entry: self.entry }),
      level_up: self.link_to('blogs.sole', { user_hid: user.hid }),
      toolbar: 'blogs.entry.blocks.toolbar_controls',
      search_areas: [
        {
          title: self.t('search_entries'),
          method: 'search.blog_entries'
        }
      ]
    };

  != self.partial('@common.blocks.navbar.levelup_apps', navbar_args)
  != self.partial('@common.blocks.navbar.alt_levelup_title_toolbar', navbar_args)

  nav.breadcrumbs-container
    .layout__container.container-fluid
      != self.partial('@common.blocks.breadcrumbs')

  .layout__container.container-fluid
    != self.partial('@users.blocks.announces')

    header.page-head.blogs-entry__head
      .float-right
        != self.partial('@blogs.entry.blocks.toolbar_controls')

      h1.blogs-entry__title.page-head__title(itemprop='name')= self.entry.title

      .blogs-entry__meta
        span.blogs-entry__author
          if user.hid
            a.blogs-entry__author-link(href=self.link_to('users.member', { user_hid: user.hid }))
              img.blogs-entry__avatar(alt=user.name)&attributes(self.avatar(user, 'sm'))
              = user.name
          else
            .blogs-entry__avatar.av-anon

        span.blogs-entry__ts!= self.timetag(self.entry.ts, 'relative')

    .blogs-entry__body
      .blogs-entry__content
        .blogs-entry__message.markup!= self.entry.html

        - var tail = self.partial('@blogs.entry.attachments', { post: self.entry, user: user });
        if tail
          .forum-post__tail.markup-tail
            !=tail

      footer.blogs-entry__controls
        ul.blogs-entry__controls-blk
          li.blogs-entry__control-item
            span.icon.icon-vote-up

          li.blogs-entry__control-item
            span.icon.icon-vote-down

          li.blogs-entry__control-item
            span.icon.icon-bookmark

          li.blogs-entry__control-item
            span.icon.icon-views.icon-space-after= self.entry.views

      != self.partial('@blogs.blocks.tag_list', { tag_hids: self.entry.tag_hids })

    if self.comments && self.comments.length
      #comments.blogs-entry__comments
        .blogs-entry__comment-header
          = self.t('comments', self.comments.length)

        +render_comments(self.comments)

    if self.settings.blogs_can_create
      .blogs-entry__reply
        button.btn.btn-block.btn-link.icon.icon-plus.icon-space-after(
          data-on-click='blogs.entry:reply'
        )=self.t('add_comment')
